
mixin schemaForm(s, data={},prefix='form')
  - ctxt.form = {prefix, model:s}
  form(method='post', target='tgt')&attributes(attributes)
    .card
      .card-content
        if block
          block
        else
          +schemaFields(s, data, prefix)
      .card-action
        button.btn.waves-effect.waves-light(type='submit')
          | Submit
          i.material-icons.right send
  - delete ctxt.form


mixin schemaFields(fields, data, prefix)
  each attr, attrName in fields
    - if ('$'==attrName) continue;
    - var id = prefix+'.'+attrName
    //- console.log(id, attrName, attr)
    //- - continue
    +field(attr, data && data[attrName], id)

mixin field_bare(attr, data, id)
  //- console.log(attr.$.fieldType)
  if pug_mixins['_' + attr.$.fieldType]
    !=`<!-- ${id}(${attr.$.fieldType}) -->`
    +#{'_' + attr.$.fieldType}(attr, data, id)
  else
    p: em _#{attr.$.fieldType} is not implemented yet...

mixin f(path)
  -
    var field = ctxt.form.model;
    for (var parts = path.split('.'); parts.length > 0; field=field[parts.shift()]);
    - console.log(field)
  +field(field, null, ctxt.form.prefix+'.'+path)

mixin field(attr, data, id)
  - var wrapperOptions = {id, classes: 'input-type-'+attr.$.fieldType, $: attr.$}
  if 'object' == attr.$.fieldType || 'array' == attr.$.fieldType
    - wrapperOptions.header =attr.$.label
  else if ['string', 'number', 'autocomplete', 'date','select'].indexOf(attr.$.fieldType) !== -1
    - wrapperOptions.label = attr.$.label
    - wrapperOptions.classes += ' input-field'
  +field_wrapper(wrapperOptions)
    +field_bare(attr, data, id)

mixin _string(attr, data, id)
  input.validate(id=id, name=id, type='text',value=data,placeholder=attr.placeholder)&attributes(attributes)

mixin _date(attr, data, id)
  +_string(attr, data, id)(type='date',class='datepicker')

mixin _number(attr, data, id)
  +_string(attr, data, id)(type='number')

mixin _select(attr, data, id)
  select.icons(id=id, name=id)&attributes(attributes)
    option(disabled,selected)=attr.$.placeholder || attr.$.label
    each opt,value in attr.$.enum
      option(value=value,data-icon=opt.image)=opt.label

mixin _multi_select(attr, data, id)
  +_select(attr, data, id+'[]')(multiple)

mixin _chips(attr, data, id)
  .bayan-hidden-fileds
  .chips.chips-autocomplete(data-options=JSON.stringify(attr.enum),data-placeholder=attr.placeholder,data-field=id)

mixin _autocomplete(attr, data, id)
  input.autocomplete(id=id, name=id, type='text',value=data,placeholder=attr.placeholder,data-options=JSON.stringify(attr.$.enum))

mixin _object(attr, data, id)
  +schemaFields(attr, data, id)

mixin _array(attr, data, id)
  .bayan-template(id='bayan-template-'+id,data-next-number=data? data.length : 1)
    +array_element(attr['0'], null, id, '{NUM}')

  if data && data.length
    each val,index in data
      +array_element(attr['0'], val, id, index)
  else
      +array_element(attr['0'], null, id, 0)

  div.right-align.bayan-add-array-element.teal
    button.btn-floating.waves-effect.waves-light.white(type='button',onclick='Bayan.UI.arrayAdd(this)')
      i.material-icons.teal-text add

mixin array_element(attr, data, id, num)
  div(class=('{NUM}'==num)?'bayan-array-template':'bayan-array-element')
    .row
      .col.s3.m2.l1
        .bayan-array-number.valign-wrapper
          button.valign.btn-floating.btn-flat(type='button',tabindex=-1,onclick='Bayan.UI.arrayDel(this)')
            i.material-icons delete
      .col.s9.m10.l11
        +field_bare(attr, data, id+'.'+num)

mixin _boolean(attr, data, id)
  .switch
    label
      | #{attr.label}: No
      input(id=id, name=id, type='checkbox',checked=!!data)
      span.lever
      | Yes

mixin field_wrapper(opts={})
  //- - console.log('>>', opts)
  if opts.header
    .bayan-sub-container
      .bayan-sub-header=opts.header
      .bayan-sub-content
        +_field_wrapper(opts)
          block
  else
    .row
      .col.s12(class=opts.classes)
        +_field_wrapper(opts)
          block

mixin _field_wrapper(opts)
  if opts.label
    label(for=opts.id, class=['date', 'select'].includes(opts.$.fieldType)?'active':'')=opts.label
  block
