doctype html
html
  head
    each s in statics.css
      link(rel="stylesheet", href=s)
  body
    nav
      .nav-wrapper
        a.right(href=`${req.baseUrl}/`, title=admin.options.titleTitle)=admin.options.title
        ul.left.hide-on-med-and-down#nav-mobile
          each m, slug in admin.models
            li: a(href=`${req.baseUrl}/${slug}/`)=m.title
    h1=title
    .container
      block content

    each s in statics.js
      script(type='text/javascript', src=s)
      